<h2 id="EDUname"> 
	ВСП Харківський фаховий коледж<br>
	інформаційних технологій<br>
	Національного аерокосмічного<br>
	університету "ХАІ"<br>
</h2>
<div id="menu">
	<a href="index.html">index</a>
	<a href="css.html">CSS</a>
	<a href="table.html">table</a>
	<a href="div.html">div</a>
	<a href="menu.html">menu</a>
	<a href="2Column.html">2 Column</a>
	<a href="form.html">Form</a>
	<a href="js-basic.html">JS</a>
	<a href="calculator.html">calculator</a>
	<a href="calculator2.html" >calculator2</a>
	<a href="15.html">15</a>
	<a href="jQuery.html">jQuery</a>
</div>